:root
{
    --size-grid: 10px;
    --size-radius: 5px;
    --size-tooltip: 100px;
    --size-tooltip-offset: -61px;
    --size-arrow: 8px;

    --z-popuper: 88888;
    --z-tooltip: 99999;

    --color-round-border: #ccc;
    --color-round-fill: #fff;
    --color-tooltip-bg: #999;
    --color-tooltip-fg: #fff;
}
* { font-family: "Helvetica Neue"; }

* { margin: 0px; padding: 0px; }
html { font-size: 14px; }
body { width: 100%; height: 100%; }

h1 { font-size: 2.4rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }

.container { position: relative; height: 100%; display: block; }

.shadow { box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }

.margin1 { margin: calc(var(--size-grid) * 1); }
.margin2 { margin: calc(var(--size-grid) * 2); }
.margin3 { margin: calc(var(--size-grid) * 3); }
.margin4 { margin: calc(var(--size-grid) * 4); }
.margin5 { margin: calc(var(--size-grid) * 5); }
.margin6 { margin: calc(var(--size-grid) * 6); }
.margin7 { margin: calc(var(--size-grid) * 7); }
.margin8 { margin: calc(var(--size-grid) * 8); }
.margin9 { margin: calc(var(--size-grid) * 9); }
.marginA { margin: calc(var(--size-grid) * 10); }

.padding1 { padding: calc(var(--size-grid) * 1); }
.padding2 { padding: calc(var(--size-grid) * 2); }
.padding3 { padding: calc(var(--size-grid) * 3); }
.padding4 { padding: calc(var(--size-grid) * 4); }
.padding5 { padding: calc(var(--size-grid) * 5); }
.padding6 { padding: calc(var(--size-grid) * 6); }
.padding7 { padding: calc(var(--size-grid) * 7); }
.padding8 { padding: calc(var(--size-grid) * 8); }
.padding9 { padding: calc(var(--size-grid) * 9); }
.paddingA { padding: calc(var(--size-grid) * 10); }

.full-width { width: 100%; }
.full-height { height: 100%; }

.float-left { float: left; }
.float-right { float: right; }

.clear-both { clear: both; }

.textAlign-left { text-align: left; }
.textAlign-right { text-align: right; }
.textAlign-center { text-align: center; }
.textAlign-justify { text-align: justify; }

.posLeft { left: 0px; }
.posRight { right: 0px; }
.posTop { top: 0px; }
.posBottom { bottom: 0px; }

.table { display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }

.media { display: table; border-collapse: collapse; border: none; width: 100%; }
.media>div:first-child::before { display: table-row; }
.media>div { display: table-cell; vertical-align: top; }

.round { font-size: 0rem; }
.round>.round-item { border: solid 1px var(--color-round-border); font-size: 1rem; padding: calc(var(--size-grid) * 1); min-width: calc(var(--size-grid) * 2); text-align: center;  background-color: var(--color-round-fill); position: relative; }
.round>.round-item:first-child { border: solid 1px var(--color-round-border); }
.round.horizontal>.round-item { display: inline-block; border-left: 0px; }
.round.horizontal>.round-item:first-child { border-bottom-left-radius: var(--size-radius); border-top-left-radius: var(--size-radius); border-left:  solid 1px var(--color-round-border); }
.round.horizontal>.round-item:last-child { border-top-right-radius: var(--size-radius); border-bottom-right-radius: var(--size-radius); }
.round.vertically>.round-item { display: block; border-top: 0px; }
.round.vertically>.round-item:first-child { border-top-left-radius: var(--size-radius); border-top-right-radius: var(--size-radius); border-top: solid 1px var(--color-round-border); }
.round.vertically>.round-item:last-child { border-bottom-left-radius: var(--size-radius); border-bottom-right-radius: var(--size-radius); }

hr { margin: var(--size-grid) 0px; display: block; height: 1px; background-color: var(--color-round-border); border: none; }

.dropdown { font-size: 1rem; position: absolute; position: relative; display: inline-block; }
.dropdown-popuper { position: absolute; display: none; z-index: var(--z-popuper); border-radius: var(--size-radius); border: solid 1px var(--color-round-border); background-color:  var(--color-round-fill); }
.dropdown.open > .dropdown-popuper { display: block; }
.dropdown-popuper > li { list-style: none; display: block; padding: var(--size-grid); }

.tabs { font-size: 0rem; }
.tabs>li { display: inline-block; list-style: none; padding: var(--size-grid); font-size: 1rem; }
.tabs>li.selected { border: solid 1px var(--color-round-border); border-radius: var(--size-radius); background-color: var(--color-round-fill);  }
.tabs-pages>li { display: none; list-style: none; }
.tabs-pages>li.selected { display: block; }

.arrow { display: block; position: absolute; width: 0px; height: 0px; }
.arrow.left { border-top: var(--size-arrow) solid transparent; border-bottom: var(--size-arrow) solid transparent; border-right:  var(--size-arrow) solid var(--color-round-border); }
.arrow.right { border-top: var(--size-arrow) solid transparent; border-bottom: var(--size-arrow) solid transparent; border-left:  var(--size-arrow) solid var(--color-round-border); }
.arrow.up { border-left: var(--size-arrow) solid transparent; border-right: var(--size-arrow) solid transparent; border-bottom:  var(--size-arrow) solid var(--color-round-border); }
.arrow.down { border-left: var(--size-arrow) solid transparent; border-right: var(--size-arrow) solid transparent; border-top:  var(--size-arrow) solid var(--color-round-border);}

.tooltip { position: absolute; width: var(--size-tooltip);  border: solid 1px var(--color-tooltip-bg); background-color: var(--color-tooltip-bg); color: var(--color-tooltip-fg); border-radius: var(--size-radius); padding: var(--size-grid); z-index: var(--z-tooltip); max-width: 300px; }
.tooltip.up { top: 100%; left: 50%; margin-left: var(--size-tooltip-offset);}
.tooltip.down { bottom: 100%; left: 50%; margin-left: var(--size-tooltip-offset);}
.tooltip.left { right: 100%; top: 0%; }
.tooltip.right { left: 100%; top: 0%; }
.tooltip>.arrow.up { left: calc(50% - var(--size-arrow)); top: calc(0px - var(--size-arrow)); border-bottom-color: var(--color-tooltip-bg); }
.tooltip>.arrow.down { left: calc(50% - var(--size-arrow)); bottom: calc(0px - var(--size-arrow)); border-top-color: var(--color-tooltip-bg); }
.tooltip>.arrow.left { top: calc(var(--size-arrow) + 2); left: calc(0px - var(--size-arrow)); border-right-color: var(--color-tooltip-bg); }
.tooltip>.arrow.right { top: calc(var(--size-arrow) + 2); right: calc(0px - var(--size-arrow)); border-left-color: var(--color-tooltip-bg); }