/*variables*/
:root {
	--color-light-0: #ffffff;
}

/*base*/

* { margin: 0px; padding: 0px; }
html,body { width: 100%; height: 100%; position: relative; }

* { font-family: "DINPro", "PingFangSC-Regular","PingFang SC","PingHei","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif,'Microsoft YaHei', SimSun; font-size: 10pt; }

/*classes*/

.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }
.blur {-webkit-filter: blur(10px); -moz-filter: blur(10px); -ms-filter: blur(10px); filter: blur(10px); }
.noSelection { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/*layout*/

