/*** variables ***/

:root {
    --color-red-0: #FF2A68;
    --color-red-1: #FFD5E1;
    --color-green-0: #63DA38;
    --color-green-1: #E0F7D8;
    --color-blue-0: #1BADF8;
    --color-blue-1: #D2EFFE;
    --color-yellow-0: #FFCC00;
    --color-yellow-1: #FFF4CD;
    --color-purple-0: #CC73E1;
    --color-purple-1: #F5E3F9;
    --color-white: #fff;
    --color-dark-0: #000;
    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #333;
    --color-dark-4: #444;
    --color-dark-5: #555;
    --color-dark-6: #666;
    --color-dark-7: #777;
    --color-light-0: #fff;
    --color-light-1: #eee;
    --color-light-2: #ddd;
    --color-light-3: #ccc;
    --color-light-4: #bbb;
    --color-light-5: #aaa;
    --color-light-6: #999;
    --color-light-7: #888;
}


/*** base ***/

* { margin: 0px; padding: 0px; vertical-align: middle; }
* { font-family: "DINPro", "PingFangSC-Regular", "PingFang SC", "PingHei", "Helvetica Neue", "Helvetica", "STHeitiSC-Light", "Arial", sans-serif, 'Microsoft YaHei', SimSun; font-size: 12px; }

html, body { width: 100%; height: 100%; cursor: default; }
a { text-decoration: none; }

.disableSelection { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }




/*** layout ***/
#hidden { display: none; }

#outer { position: relative;  }
#toolbar { position: fixed; left: 0px; top: 0px; width: 100%; height: 20px; background-color: var(--color-light-1); }
#panel { position: fixed; left: 0px; bottom: 0px; width: 100%; height: 100px; background-color: var(--color-light-1); }
#log { padding-top: 20px; }
#logContent { border-collapse: collapse; }
#logContent tr td:first-child {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#logContent tr td:first-child { background-color: var(--color-light-1); color: #5ab0c7 !important; text-align: right !important; padding: 0px 20px; }
#logContent tr td { vertical-align: top; text-align: left;}
#logContent tr td.node { width: 20px; text-align: center; }

tr.error * { color: var(--color-red-0); }
/*tr.warning * { color: var(--color-yellow-0); }*/

/*** controls ***/