

//NOTE:	参数定义

//NOTE:	颜色定义

//NOTE: 字体定义

$font-face-BlizzardGlobal-Regular:					"BlizzardGlobal-Regular";

$font-face-Eurostile-Reg:							"Eurostile-Reg";
$font-face-Eurostile-Bol:							"Eurostile-Bol";
$font-face-EurostileExt-Reg:						"EurostileExt-Reg";
$font-face-EurostileExt-Med:						"EurostileExt-Med";

$font-face-DINPro-Light:							"DINPro-Light";
$font-face-DINPro-Regular:							"DINPro-Regular";
$font-face-DINPro-Medium:							"DINPro-Medium";
$font-face-DINPro-Bold:								"DINPro-Bold";
$font-face-DINPro-Black:							"DINPro-Black";

$font-face-Exo2-Thin:								"Exo2.0-Thin";
$font-face-Exo2-ThinItalic:							"Exo2.0-ThinItalic";
$font-face-Exo2-Light:								"Exo2.0-Light";
$font-face-Exo2-LightItalic:						"Exo2.0-LightItalic";
$font-face-Exo2-Regular:							"Exo2.0-Regular";
$font-face-Exo2-Italic:								"Exo2.0-Italic";
$font-face-Exo2-Medium:								"Exo2.0-Medium";
$font-face-Exo2-MediumItalic:						"Exo2.0-MediumItalic";
$font-face-Exo2-Bold:								"Exo2.0-Bold";
$font-face-Exo2-BoldItalic:							"Exo2.0-BoldItalic";
$font-face-Exo2-Black:								"Exo2.0-Black";
$font-face-Exo2-BlackItalic:						"Exo2.0-BlackItalic";
$font-face-Exo2-SemiBold:							"Exo2.0-SemiBold";
$font-face-Exo2-SemiBoldItalic:						"Exo2.0-SemiBoldItalic";
$font-face-Exo2-ExtraBold:							"Exo2.0-ExtraBold";
$font-face-Exo2-ExtraBoldItalic:					"Exo2.0-ExtraBoldItalic";
$font-face-Exo2-ExtraLight:							"Exo2.0-ExtraLight";
$font-face-Exo2-ExtraLightItalic:					"Exo2.0-ExtraLightItalic";

$font-face-pf-thin:									"PingFangSC-Ultralight";
$font-face-pf-light:								"PingFangSC-Thin";
$font-face-pf-reg:									"PingFangSC-Light";
$font-face-pf-med:									"PingFangSC-Regular";
$font-face-pf-bol:									"PingFangSC-Medium";
$font-face-pf-black:								"PingFangSC-Semibold";

@font-face { font-family: $font-face-pf-thin; src:url('fonts/pf-thin.ttf') format('TypeType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-pf-light; src:url('fonts/pf-light.ttf') format('TypeType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-pf-reg; src:url('fonts/pf-reg.ttf') format('TypeType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-pf-med; src:url('fonts/pf-med.ttf') format('TypeType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-pf-bol; src:url('fonts/pf-bol.ttf') format('TypeType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-pf-black; src:url('fonts/pf-black.ttf') format('TypeType'); font-weight: normal; font-style: normal; }

@font-face { font-family: $font-face-BlizzardGlobal-Regular; src:url('fonts/bl.ttf') format('TypeType'); font-weight: normal; font-style: normal; }

@font-face { font-family: $font-face-Eurostile-Reg; src:url('fonts/Eurostile-Reg.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Eurostile-Bol; src:url('fonts/Eurostile-Bol.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-EurostileExt-Reg; src:url('fonts/EurostileExt-Reg.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-EurostileExt-Med; src:url('fonts/EurostileExt-Med.otf') format('OpenType'); font-weight: normal; font-style: normal; }

@font-face { font-family: $font-face-DINPro-Light; src:url('fonts/dinprolight.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-DINPro-Regular; src:url('fonts/dinproregular.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-DINPro-Medium; src:url('fonts/dinpromedium.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-DINPro-Bold; src:url('fonts/dinprobold.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-DINPro-Black; src:url('fonts/dinproblack.otf') format('OpenType'); font-weight: normal; font-style: normal; }

@font-face { font-family: $font-face-Exo2-Thin; src:url('fonts/Exo2.0-Thin.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-ThinItalic; src:url('fonts/Exo2.0-ThinItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-Light; src:url('fonts/Exo2.0-Light.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-LightItalic; src:url('fonts/Exo2.0-LightItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-Regular; src:url('fonts/Exo2.0-Regular.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-Italic; src:url('fonts/Exo2.0-Italic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-Medium; src:url('fonts/Exo2.0-Medium.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-MediumItalic; src:url('fonts/Exo2.0-MediumItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-Bold; src:url('fonts/Exo2.0-Bold.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-BoldItalic; src:url('fonts/Exo2.0-BoldItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-Black; src:url('fonts/Exo2.0-Black.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-BlackItalic; src:url('fonts/Exo2.0-BlackItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-SemiBold; src:url('fonts/Exo2.0-SemiBold.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-SemiBoldItalic; src:url('fonts/Exo2.0-SemiBoldItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-ExtraBold; src:url('fonts/Exo2.0-ExtraBold.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-ExtraBoldItalic; src:url('fonts/Exo2.0-ExtraBoldItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-ExtraLight; src:url('fonts/Exo2.0-ExtraLight.otf') format('OpenType'); font-weight: normal; font-style: normal; }
@font-face { font-family: $font-face-Exo2-ExtraLightItalic; src:url('fonts/Exo2.0-ExtraLightItalic.otf') format('OpenType'); font-weight: normal; font-style: normal; }

.font-face-BlizzardGlobal-Regular { font-family: $font-face-BlizzardGlobal-Regular; }

.font-face-Eurostile-Reg { font-family: $font-face-Eurostile-Reg; }
.font-face-Eurostile-Bol { font-family: $font-face-Eurostile-Bol; }
.font-face-EurostileExt-Reg { font-family: $font-face-EurostileExt-Reg; }
.font-face-EurostileExt-Med { font-family: $font-face-EurostileExt-Med; }

.font-face-DINPro-Light { font-family: $font-face-DINPro-Light; }
.font-face-DINPro-Regular { font-family: $font-face-DINPro-Regular; }
.font-face-DINPro-Medium { font-family: $font-face-DINPro-Medium; }
.font-face-DINPro-Bold { font-family: $font-face-DINPro-Bold; }
.font-face-DINPro-Black { font-family: $font-face-DINPro-Black; }

.font-face-Exo2-Thin { font-family: $font-face-Exo2-Thin; }
.font-face-Exo2-ThinItalic { font-family: $font-face-Exo2-ThinItalic; }
.font-face-Exo2-Light { font-family: $font-face-Exo2-Light; }
.font-face-Exo2-LightItalic { font-family: $font-face-Exo2-LightItalic; }
.font-face-Exo2-Regular { font-family: $font-face-Exo2-Regular; }
.font-face-Exo2-Italic { font-family: $font-face-Exo2-Italic; }
.font-face-Exo2-Medium { font-family: $font-face-Exo2-Medium; }
.font-face-Exo2-MediumItalic { font-family: $font-face-Exo2-MediumItalic; }
.font-face-Exo2-Bold { font-family: $font-face-Exo2-Bold; }
.font-face-Exo2-BoldItalic { font-family: $font-face-Exo2-BoldItalic; }
.font-face-Exo2-Black { font-family: $font-face-Exo2-Black; }
.font-face-Exo2-BlackItalic { font-family: $font-face-Exo2-BlackItalic; }
.font-face-Exo2-SemiBold { font-family: $font-face-Exo2-SemiBold; }
.font-face-Exo2-SemiBoldItalic { font-family: $font-face-Exo2-SemiBoldItalic; }
.font-face-Exo2-ExtraBold { font-family: $font-face-Exo2-ExtraBold; }
.font-face-Exo2-ExtraBoldItalic { font-family: $font-face-Exo2-ExtraBoldItalic; }
.font-face-Exo2-ExtraLight { font-family: $font-face-Exo2-ExtraLight; }
.font-face-Exo2-ExtraLightItalic { font-family: $font-face-Exo2-ExtraLightItalic; }

.font-face-pf-thin { font-family: $font-face-pf-thin; }
.font-face-pf-light { font-family: $font-face-pf-light; }
.font-face-pf-reg { font-family: $font-face-pf-reg; }
.font-face-pf-med { font-family: $font-face-pf-med; }
.font-face-pf-bol { font-family: $font-face-pf-bol; }
.font-face-pf-black { font-family: $font-face-pf-black; }

* { margin: 0rem; padding: 0rem; line-height: 1; position: relative; }
html,body { width: 100%; height: 100%; background-color: #000; color: #fff; }
html { font-size: 100px; }
body { overflow: hidden; font-size: 0.2rem; font-family: $font-face-pf-reg; }

*::selection {
    background: #ff0; 
    color: #000;
}
//NOTE: 封面

#cover {
	position: relative; width: 100%; height: 100%;
	display: flex; flex-direction: column; align-items: stretch;
	background-image: url('../img/def-bg.jpg'); background-size: cover;
	#cover-menus {
		height: 100%; margin: 0.5rem; display: flex; flex-direction: row; flex-wrap: wrap; align-self: center;
		>li {
			list-style: none; width: 1rem; height: 1rem; text-align: center; padding: 0.1rem;
			>span {
				@extend .text-shadow;
				font-size: 0.6rem; margin-top: 0.05rem; margin-bottom: 0.1rem; display: block;
			}
			>p {
				@extend .text-shadow;
				font-size: 0.14rem; line-height: 0.2rem;
			}
		}
	}
	#cover-footer {
		padding: 0.2rem; text-align: center; font-size: 0.2rem;
	}
}

//NOTE: 屏幕
#screen {
	display: table; width: 100%; height: 100%; border-collapse: collapse; border: none;
	#screenOuter {
		display: table-row;
		#screenInner {
			display: table-cell;
			position: relative; 
			// text-align: center; vertical-align: middle;

			#screenCanvas 
			{
				display: inline-block;
				width: 800px; height: 600px; overflow: hidden; margin: auto;
				position: absolute; left: 0px; top: 0px;
				transform-origin: 0 0;
				
				#screenBg {
					position: absolute; left: 0px; top: 0px;
					width: 100%; height: 100%; overflow: hidden;
					background-color: #000;
					// background-image: url('../img/def-bg.jpg'); background-size: cover;
				}

				#screenFg {
					position: absolute; left: 0px; top: 0px;
					width: 100%; height: 100%; overflow: hidden;
				}
			}
		}
	}
}
#screen-buttons
{
	position: absolute;
	left: 0px; top: 0px;
	width: 100%; 
	text-align: center;
	transition: .5s;
	opacity: 0;
	// background-color: rgba(0,0,0,0.3);
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	padding: 0.1rem;
	>a {
		color: rgba(255,255,255,0.5); text-decoration: none;
		display: inline-block; padding: 0.1rem;
		border: solid 0.01rem rgba(255,255,255,0); border-radius: 0.1rem;
		transition: .5s;
		>span { font-size: 0.4rem; }
	}
	>a:hover { border-color: rgba(255,255,255,0.2); color: rgba(255,255,255,0.75); transition: .5s; }
	>a:active { border-color: rgba(255,255,255,0.5); color: #fff; transition: .1s; }
}
#screen-buttons:hover
{
	transition: .5s;
	opacity: 1;
}

.text-shadow
{
	text-shadow: 0rem 0.03rem 0.3rem rgba(#003,1);
}

//NOTE: 控制台

#screen-page-controller
{
	position: relative; width: calc(100% - 2rem); height: 100%;
	padding: 0rem 1rem; overflow: scroll;
	display: flex; flex-direction: column; align-items: stretch;
	background-image: url('../img/def-bg.jpg'); background-size: cover;
	font-family: $font-face-pf-light;
	>div
	{
		>h1 { 
			@extend .text-shadow;
			color: #fff;
			font-size: 0.4rem; font-weight: normal; line-height: 1.5; border-bottom: solid 0.01rem rgba(255,255,255,0.5); margin-bottom: 0.3rem; margin-top:0.5rem; 
		}
		>hr { border:none; border-bottom: solid 0.01rem rgba(255,255,255,0.5); background-color: none; margin: 0.3rem 0rem; }
		>div {
			margin-bottom: 0rem;
			>label { 
				@extend .text-shadow;
				font-size: 0.2rem; padding: 0.2rem; display: inline-block; vertical-align: middle; 
			}
			>input[type="text"] { 
				-webkit-appearance: none; background: none; 
				border: solid 1px rgba(255,255,255,0.3); border-radius: 0.05rem; 
				line-height: 0.3rem; 
				color: #fff; text-align: center;
				font-family: $font-face-Exo2-Medium, $font-face-pf-med;
				vertical-align: middle;
				font-size: 0.2rem;
				outline: 0;
				@extend .text-shadow;
			}
			>input[type="checkbox"] {
				-webkit-appearance: none;
				vertical-align: middle;
				border: solid 1px rgba(255,255,255,0.3); border-radius: 0.05rem; 
				outline: 0;
				@extend .text-shadow;
				width: 0.2rem; height: 0.2rem;
				transition: 0.5s;
			}
			>input[type="checkbox"]:checked {
				background-color: rgba(255,255,0,0.4);
				border: solid 1px rgba(255,255,0,0.8);
				transition: 0.5s;
			}
			>button {
				@extend .text-shadow;
				font-weight: normal;
				list-style: none;
				display: inline-block;
				margin: 0rem 0.1rem;
				padding: 0.05rem 0.1rem;
				font-size: 0.2rem; font-family: $font-face-pf-reg;
				background-color: rgba(255,255,255,0.15);
				border: solid 1px rgba(255,255,255,0.2);
				border-radius: 0.05rem;
				color: #fff; cursor: pointer;
				transition: 0.5s;
				vertical-align: middle;
				outline: none;
				-webkit-appearance: none;
			}
			>button:hover 
			{
				background-color: rgba(255,255,255,0.25);
				border: solid 1px rgba(255,255,255,0.3);
				transition: 0.1s;
			}
			>button:active
			{
				background-color: rgba(255,255,255,0.35);
				border: solid 1px rgba(255,255,255,0.4);
				transition: 0.1s;
			}
			>p {
				@extend .text-shadow;
				padding: 0.2rem;
				color: rgba(255,255,255,0.6); font-size: 0.12rem;
				>b {
					
					color: #fff; font-family: $font-face-pf-med;
					font-size: 0.2rem; display: inline-block;
					padding-right: 0.2rem;
					font-weight: normal;
				}
			}
		}
		
		>ul
		{
			text-align: center;
			padding-bottom: 0.3rem;
			>li {
				@extend .text-shadow;
				font-weight: normal;
				list-style: none;
				display: inline-block;
				margin: 0rem 0.1rem;
				padding: 0.1rem 0.3rem;
				font-size: 0.3rem; font-family: $font-face-pf-reg;
				background-color: rgba(255,255,255,0.15);
				border: solid 1px rgba(255,255,255,0.2);
				border-radius: 0.05rem;
				color: #fff; cursor: pointer;
				transition: 0.5s;
			}
			>li:hover 
			{
				background-color: rgba(255,255,255,0.25);
				border: solid 1px rgba(255,255,255,0.3);
				transition: 0.1s;
			}
			>li:active
			{
				background-color: rgba(255,255,255,0.35);
				border: solid 1px rgba(255,255,255,0.4);
				transition: 0.1s;
			}
		}
		
	}

	>#screen-page-controller-custom
	{
		border-top: solid 5px rgba(255,255,255,0.5);
		padding: 0.2rem 0rem;
	}
}

canvas.PixiParticles
{
	position: absolute; left: 0px; top: 0px;
}