/*!
	警告: 此文件是使用scss编写并编译的css文件, 不要手工修改此文件
 */

//--------------------------------------------------------------------------------------- 变量: 颜色

$color-blue:    		        #00BCEC;
$color-green:  			        #00C853;
$color-red:      		        #FF6D6D;
$color-orange:  		        #FF6723;
$color-yellow:  		        #FFC107;

$color-nav-bg:					#253549;
$color-nav-text:				rgba(255,255,255,0.5);
$color-nav-highlight:			rgba(255,255,255,0.9);
$color-ws-bg:					#F8F9FB;
$color-ctrl-white:				#fff;
$color-ctrl-highlight:			#fbfbfb;
$color-ctrl-light-gray:			#E5EFFA;
$color-toolbar-fg:				#9DAAC0;	//707E8C
$color-toolbar-hover:			#25274B;	//47596D

$color-text:					#AEBBD0;

$color-bg:		 			 	#444;
$color-bar:						#333;
$color-black:					#222;
$color-empty:					#111;
$color-dark:					#999;
$color-gray:					#ccc;
$color-default:					#eee;
$color-light:					#f0f0f0;
$color-highlight:				#f4f4f4;
$color-white:					#fff;


$size-mod-icon-width:			50px;
$size-mod-icon-height:			40px;

//--------------------------------------------------------------------------------------- 变量: 参数

$size-grid: 1rem;

//--------------------------------------------------------------------------------------- 基础定义

@font-face { font-family: "DINPro-Regular"; src: url("fonts/DINPro-Regular.otf") format("OpenType"); font-weight: normal; font-style: normal; }
html { font-size: 12px; }
html,body { width: 100%; height: 100%; position: relative; }
* { margin: 0px; padding: 0px; line-height: 1; }
* { font-family: "DINPro-Regular", "Helvetica Neue", "PingHei", "Helvetica", "STHeitiSC-Light", "Arial", sans-serif, "Microsoft YaHei", SimSun; }

//--------------------------------------------------------------------------------------- layout


.hidden { display: none !important; }

body { background-color: $color-ws-bg; color: $color-text; cursor: default; }
ul { margin: 0px; padding: 0px; list-style: none; }
table.layout { 
	border-collapse: collapse; width: 100%; height: 100%;
	td { height: 100%; position: relative; vertical-align: top; }

	#layoutModules { 
		width: $size-mod-icon-width; text-align: center;
		background-color: $color-nav-bg;
		>ul {
			>li { 
				height: 40px; display: block; text-align: center; line-height: $size-mod-icon-height; 
				>span[class^='icon-'] { font-size: 25px; line-height: $size-mod-icon-height; color: $color-nav-text; }
			}
			>li:hover {
				>span[class^='icon-'] { color: $color-nav-highlight; }
			}
			>li.selected, >li.selected:hover {
				background-color: $color-blue; color: $color-nav-highlight;
				>span[class^='icon-'] { color: $color-nav-highlight; }
			}
		}
	}
	#layoutOutline { 
		min-width: 100px; width: 200px; 
		border-right: solid 1px $color-ctrl-light-gray;
	}
	#layoutContent {
		background-color: $color-ctrl-white;
	}
	#layoutStatus { 
		background-color: $color-nav-bg;
		color: $color-nav-text;
		height: 20px; vertical-align: middle; 
	}
}

//--------------------------------------------------------------------------------------- panel

.panel {
	// background-color: $color-white; 
	// color: $color-black;
	width: 100%; height: 100%;
}

//--------------------------------------------------------------------------------------- toolbar

.toolbar {
	background-color: $color-ws-bg; 
	border-bottom: solid 1px $color-ctrl-light-gray;
	height: 30px !important; line-height: 30px !important;
	padding: 0px 5px;
	vertical-align: middle !important;
	overflow: hidden;
	>* {
		margin-right: 3px;
	}
	>*:last-child {
		margin-right: 0px;
	}
	button {
		border: none;
		background-color: transparent;
		color: $color-toolbar-fg;
		vertical-align: middle;

		span[class^='icon-'] { font-size: 16px; }
	}
	button:hover{
		color: $color-toolbar-hover;
	}
}

.toolbar.tabs {
	font-size: 0rem;
	padding: 0px;
	>a { 
		display: inline-block; font-size: 1rem; text-decoration: none; height: 30px; line-height: 30px; position: relative; vertical-align: middle;
		padding: 0px 24px; color: $color-toolbar-fg;
		border-left: solid 1px $color-ctrl-light-gray;
	}
	>a:first-child { border-left: none; }
	>a.selected {
		background-color: $color-ctrl-white;
		color: $color-toolbar-hover;
	}
	>a.selected::after {
		content: ""; position: absolute; left: 0px; bottom: -1px; width: 100%; height: 1px;
		background-color: $color-ctrl-white;
	}
	>* { margin-right: 0px !important; }
}

//--------------------------------------------------------------------------------------- tree

ul.tree {
	list-style: none; font-size: 1rem;
	li {
		padding-left: 20px; position: relative;
		>h1 {
			font-size: 1rem; font-weight: normal; line-height: 1.6; padding: 0px 4px; display: inline-block; border-radius: 2px;
		}
		>ul {
			list-style: none;
		}
	}

	li::before {
		content: ""; position: absolute;
		width: 0px; height: 0px;
		border-left: solid 4px $color-dark;
		border-top: solid 4px transparent;
		border-bottom: solid 4px transparent;
		border-right: none;
		left: 10px; top: 6px;
	}
	li.expanded::before {
		border-top: solid 4px $color-dark;
		border-left: solid 4px transparent;
		border-right: solid 4px transparent;
		border-bottom: none;
		left: 6px; top: 8px;
	}
}

//--------------------------------------------------------------------------------------- iScroll
.iScroll { position: relative; width: 100%; height: 100%; }
.iScroll .iScroll-content { 
	background-color: $color-ctrl-white;
	position: absolute; overflow: hidden; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none; 
}

.iScrollHorizontalScrollbar, .iScrollVerticalScrollbar {
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	z-index: 9999;
	width: 7px;
	top: 2px;
	right: 1px;
	overflow: hidden;
	transition-duration: 0ms;
}
.iScrollIndicator {
	
	box-sizing: border-box;
	position: absolute;
	display: block;
	transition-duration: 0ms;
	width: 100%;
	background-color: rgba(255,255,255,0.2);
}


/*

    position: absolute;
    z-index: 9999;
    width: 7px;
    bottom: 2px;
    top: 2px;
    right: 1px;
    overflow: hidden;
    transform: translateZ(0px);
    transition-duration: 0ms;
    opacity: 0;

----

	box-sizing: border-box;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.901961);
    border-radius: 3px;
    width: 100%;
    transition-duration: 0ms;
    display: block;
    height: 632px;
    transform: translate(0px, 0px) translateZ(0px);
    background: rgba(0, 0, 0, 0.498039);

.iScrollHorizontalScrollbar
//，这个样式应用到横向滚动条的容器。这个元素实际上承载了滚动条指示器。

.iScrollVerticalScrollbar 
//，和上面的样式类似，只不过适用于纵向滚动条容器。

.iScrollIndicator  
//，真正的滚动条指示器。

.iScrollBothScrollbars  
//，这个样式将在双向滚动条显示的情况下被加载到容器元素上。通常情况下其中一个（横向或者纵向）是可见的

*/